@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
	text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#0F1020, black);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #2b1055;
}

#demo-text {
	font-size: 650px;
	font-weight: 900;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('demo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#demo-text span {
    font-size: 50px;
    font-weight: 400;
}