@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #f3f3f3;

  --lesbian-gradient: linear-gradient(90deg, #a60061 14.285%, #b95393 14.285%, 28.57%, #d260a7 28.57%, 42.855%, #ededeb 42.855%, 57.14%, #e5abd0 57.14%, 71.425%, #c74d52 71.425%, 85.71%, #8c1d00 85.71%);
  --gay-gradient: linear-gradient(90deg, #fe0000 16.66%, #fd8c00 16.66%, 33.32%, #ffe500 33.32%, 49.98%, #119f0b 49.98%, 66.64%, #0644b3 66.64%, 83.3%, #c22edc 83.3%);
  --bisexual-gradient: linear-gradient(90deg, #d60270 40%, #9b4f96 40%, 60%, #0038a8 60%);
  --transexual-gradient: linear-gradient(90deg, #5bcefa 20%, #f5a9b8 20%, 40%, #fffcf2 40%, 60%, #f5a9b8 60%, 80%, #5bcefa 80%);
  --asexual-gradient: linear-gradient(90deg, #181818 25%, #a3a3a3 25%, 50%, #fffcf2 50%, 75%, #800080 75%);
  --plus-gradient: linear-gradient(90deg, #b57edc 33.33%, #fffcf2 33.33%, 66.66%, #4a8123 66.66%);
  --sex-border-bottom: 8px solid transparent;
  --sex-border-image-slice: 1;

  --primary-font: "Poppins", sans-serif;

  --primary-margin: 2rem 150px 2rem 150px;
  --secondary-margin: 2rem 150px 0 150px;
  --primary-border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-hover {
  pointer-events: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background: var(--secondary-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center h1 {
  font-size: 100px;
  font-weight: 600;
  color: var(--primary-color);
}

.hero-marquee {
  color: var(--primary-color);
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 2rem 150px 0 150px;
}

.marquee {
  font-size: 0;
}

.clipped-text {
  display: inline-block;
  font-size: 25px;
  margin-right: 100px;
}

.background-img {
  border-radius: var(--primary-border-radius);
  margin: var(--primary-margin);
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.container-lgbt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-color);
}

.section-lgbt {
  width: 100%;
  height: auto;
}

.visible-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 100;
  margin: var(--primary-margin);
}

.visible-panel h2 {
  font-size: 25px;
  font-weight: 400;
}

.toggle-panel {
  margin: var(--secondary-margin);
  padding: 0px 15px;
  height: 0px;
  opacity: 0;
}

.toggle-panel p {
  font-size: 25px;
  line-height: 1.5;
}

.lesbiennes {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--lesbian-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.gays {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--gay-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.bisexuels {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--bisexual-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.transexuels {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--transexual-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.queers {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--plus-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.intersexes {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--plus-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.asexuels {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--asexual-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

.plus {
  border-bottom: var(--sex-border-bottom);
  border-image: var(--plus-gradient);
  border-image-slice: var(--sex-border-image-slice);
}

footer {
  background: var(--secondary-color);
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(100% - 300px);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: var(--primary-color);
  padding: 0 2rem;
}

.col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background-color: var(--primary-color);
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.2);
}

.col .links a {
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 3px;
  height: 16px;
  background-color: var(--primary-color);
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover:before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #2c0652;
}

/* Responsive design */

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
