@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("fonts/ClashDisplay-Bold.woff") format("woff"),
    url("fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gavency";
  src: url("fonts/Gavency Free Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NeueMetanaNext";
  src: url("fonts/NeueMetanaNext-SemiBold.otf") format("opentype"),
    url("fonts/NeueMetanaNextOutline-Black.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 10000;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #2b1055;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 650px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("demo.jpg");
  background-size: cover;
}

.row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88%;
  margin-bottom: 100px;
}

.col-card {
  flex-basis: auto;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-color: #2b1055;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.card p {
  color: #fff;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

footer {
  background: #2b1055;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1170px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: white;
  padding: 0 2rem;
}

.col .logo-text-footer {
  font-size: 50px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("demo.jpg");
  background-size: cover;
  margin-bottom: 25px;
}

.col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background-color: white;
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.2);
}

.col .links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 3px;
  height: 16px;
  background-color: white;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover:before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #2c0652;
}

.container-lgbt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-lgbt {
  width: 100%;
  height: auto;
}

.visible-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 100;
}

.visible-panel h2 {
  font-family: "NeueMetanaNext", sans-serif;
  margin-left: 30px;
  padding: 15px 5px;
  font-size: 80px;
  font-weight: 600;
}

.toggle-panel {
  padding: 0px 15px;
  height: 0px;
  opacity: 0;
}

.toggle-panel p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 25px;
  line-height: 1.5;
}

.lesbiennes {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #a60061 14.285%,
    #b95393 14.285%,
    28.57%,
    #d260a7 28.57%,
    42.855%,
    #ededeb 42.855%,
    57.14%,
    #e5abd0 57.14%,
    71.425%,
    #c74d52 71.425%,
    85.71%,
    #8c1d00 85.71%
  );
  border-image-slice: 1;
}

.gays {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #fe0000 16.66%,
    #fd8c00 16.66%,
    33.32%,
    #ffe500 33.32%,
    49.98%,
    #119f0b 49.98%,
    66.64%,
    #0644b3 66.64%,
    83.3%,
    #c22edc 83.3%
  );
  border-image-slice: 1;
}

.bisexuels {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #d60270 40%,
    #9b4f96 40%,
    60%,
    #0038a8 60%
  );
  border-image-slice: 1;
}

.transexuels {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #5bcefa 20%,
    #f5a9b8 20%,
    40%,
    #ffffff 40%,
    60%,
    #f5a9b8 60%,
    80%,
    #5bcefa 80%
  );
  border-image-slice: 1;
}

.queers {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #b57edc 33.33%,
    #ffffff 33.33%,
    66.66%,
    #4a8123 66.66%
  );
  border-image-slice: 1;
}

.intersexes {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #b57edc 33.33%,
    #ffffff 33.33%,
    66.66%,
    #4a8123 66.66%
  );
  border-image-slice: 1;
}

.asexuels {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #181818 25%,
    #a3a3a3 25%,
    50%,
    #ffffff 50%,
    75%,
    #800080 75%
  );
  border-image-slice: 1;
}

.plus {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    #b57edc 33.33%,
    #ffffff 33.33%,
    66.66%,
    #4a8123 66.66%
  );
    border-image-slice: 1;
}

/* Responsive design */

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
