@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(#0f1020, black);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

#logo-text {
  font-size: 650px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("demo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88%;
}

.col-card {
  flex-basis: 50%;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: linear-gradient(45deg, #2b1055, #0f1020);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

footer {
  background: linear-gradient(black, #0f1020);
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1170px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: white;
  padding: 0 2rem;
}

.col .logo {
  width: 50px;
  margin-bottom: 25px;
}

.col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background-color: white;
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.2);
}

.col .links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 3px;
  height: 16px;
  background-color: white;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover:before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #2c0652;
}

/* Responsive design */

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
